* {
    margin: 0;
}

header {
    color: antiquewhite;
    background: #225533;
    min-height: 5em;
}

.header {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 5em;
}

.header .title {
    flex-grow: 3;
}

.header .title h2 {
}

.header .nav {
    flex-grow: 1;
    text-align: center;
}

.header .nav .btn_header {
    padding: 7px;
    border-radius: 5px;
    color: antiquewhite;
    background: #224433;
}

.header .nav .btn_header:hover {
    background-color: antiquewhite;
    color: #224433;
}

.menu {
    background-color: #225533;
    min-height: 3em;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu ul li {
    background-color: #224433;
    margin: 5px;
    padding: 5px;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    list-style: none;
    text-align: center;
    height: 100%;
    min-width: 10%;
}

.menu ul li:hover {
    background-color: antiquewhite;
    color: #224433;
}

.menu ul li:hover a {
    color: #224433;
}

.menu ul li a {
    color: antiquewhite;
    text-decoration: none;
}

.container {
    background-color: aquamarine;
    margin: 0% auto;
    width : 90%;
    height: 100%;
}