@import url(/variables.css);

* {
    margin: 0;
    padding: 0;
}

header {
    color: antiquewhite;
    background: var(--main-light-color);
    min-height: 5em;
}

header > .header {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 5em;
}

.header .title_box {
    flex-grow: 3;
}

.header .title_box .title {}

.header .nav {
    flex-grow: 1;
    text-align: center;
}

.header .nav .btn_header {
    background: var(--main-color);
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 0.1rem 0.1rem;
    color: antiquewhite;
    cursor: pointer;
    padding: 7px;
    margin-right: 2px;
}

.header .nav .btn_header:hover {
    background-color: antiquewhite;
    box-shadow: 1px 1px 0.1rem 0.1rem black;
    color: var(--main-light-color);
}

.menu {
    background-color: var(--main-light-color);
    min-height: 3em;
}

.menu ul {
    display: flex;
/*    justify-content: center;*/
}

.menu ul li {
    background-color: var(--main-color);
    box-shadow: 1px 1px 0.1rem 0.1rem;
    margin: 5px;
    padding: 3px;
    border: 0;
    border-radius: 5px;
    list-style: none;
    height: 100%;
    text-align: center;
    min-width: 10%;
}

.menu ul li.active {
    background-color: darkorange;
    box-shadow: 1px 1px 0.1rem 0.1rem black;
    color: var(--main-color);
}

.menu ul li:hover {
    background-color: antiquewhite;
    box-shadow: 1px 1px 0.1rem 0.1rem black;
    color: var(--main-color);
}

.menu ul li:hover a {
    color: var(--main-color);
}

.menu ul li a {
    display: block;
    color: antiquewhite;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.container {
    margin: 0% auto;
    min-height: 600px;
}

.contents {
    background-color: var(--main-light-color);
    width: 100%;
    min-height: 600px;
    margin: 0;
    border: 0px;
}

footer {
    min-height: 10em;
    background-color: var(--main-light-color);
}

.footer {
    text-align: center;
    margin: 0 auto;
    padding: 2em;
}

.footer h2.footer-title {
    color: antiquewhite;
}

.footer p.footer-text {
    color: antiquewhite;
    line-height: 3em;
    font-size: 10px;
}

/* main.html */

.poem-title {
    line-height: 600px;
    text-align: center;
}

.poem-title > p {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    line-height: inherit;
    margin: 0;
    display: none;
}

.poem-title :nth-child(1) {
    color: lightskyblue;
    background-image: url("/resources/images/ocean_morning.jpg");
}

.poem-title :nth-child(2) {
    color: darkorange;
    background-image: url("/resources/images/ocean_sunset.jpg");
}

.poem-title :nth-child(3) {
    color: black;
    background-image: url("/resources/images/ocean_evening.jpg");
}


/* board.html */
.board_container {
    height: 300px;
    display: flex;
    background-color: var(--main-color);
}

.board_table {
    position: relative;
    margin: 2rem auto;
    width: 45%;
    text-align: center;
    color: antiquewhite;
    border-spacing: 5px 5px;
    box-shadow: 1px 1px 0.1em 0.1em black;
}

.board_table .board_table_head {
    width: 100%;
    background-color: var(--main-color);
}

.board_table .board_table_body {
    width: 100%;
    background-color: var(--main-color);
}

/* album.html */
.album_container {
    padding: 1em;
    background-color: var(--main-color);
}

.album_container .card > .content > p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.album_container .card {
    animation-name: albumShaking;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* about.html */


/* mobile */
@media screen and (min-width: 1024px) {}

/* animation */
@keyframes albumShaking {
    0% {
        background-color: black;
    }
    
    100% {
        background-color: aquamarine;
    }
}

